* {
  /*초기화코드 웹페이지 제작시 기본으로 드어가는 코드*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #555555;
}
